.table-style thead th {
    text-align: center;
}

.table-style tbody tr td {
    text-align: center;
}

.table-style tbody tr:nth-of-type(odd) {
    background: #ffff;
}

.table-style tbody tr:nth-of-type(even) {
    background: #ccc;
}