.clearleftright {
    padding-left: 0;
    padding-right: 0;
    text-align: left !important;
}

.topword {
    padding-right: 15px;
    width: auto;
}

.tab-pane {
    padding: 15px;
}

.tab-pane>.row {
    margin-top: 5px;
    margin-bottom: 5px;
}

.imgdiv {
    height: 160px;
    background-color: rgb(187, 183, 183);
}

/* 检验情况数据统计边框样式 */
.blackborder {
    border: 1px solid black;
    margin-left: 0px;
    margin-right: 0px;
}

.nomargin {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.shizixianzuo {
    height: 16px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    margin-top: -10px;
    margin-left: 0px;
}

.shizixianyou {
    height: 16px;
    border-bottom: 1px solid;
    margin-top: -10px;
}

.rightline {
    border-right: 1px solid;
    padding-top: 5px;
}

.bottomline {
    height: 2px;
    margin-left: 0px;
    border-bottom: 1px solid;
}

.plusbottom {
    margin-bottom: 15px;
}

.plustop {
    margin-top: 20px;
}