#upaskmanageList {
    margin-top: 30px;
}

.clearleftright {
    padding-left: 0;
    padding-right: 0;
    text-align: left !important;
}

.topword {
    padding-right: 15px;
    width: auto;
}

.click-btn {
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
}

a {
    font-size: 14px;
    text-decoration: underline !important;
    color: red !important;
}

.table-style thead tr th {
    font-size: 14px;
}

.table-style tbody tr td {
    font-size: 14px;
}

.input-style {
    display: inline-block;
}

.label-style {
    display: inline-block;
    width: 80px;
    text-align: right;
}

.div-wrap {
    margin-top: 30px;
}